@import "modules/navbar";
@import "vars";
@import "modules/footer";

body {
  background: url(../images/feature/bckgrd_mobile_feature_page.jpg);
  background-size: cover;
}

.overflow {
  overflow: hidden;
}

.hidden {
  display: none;
}

h4 {
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: $h4_fontSize;
}

.portfolioInfoCon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // background: tomato;
  margin: 40px 0px;
}

.toolsCon {
  display: flex;
  flex-wrap: wrap;
  // background: skyblue;
  justify-content: center;

  img {
    max-height: 60px;
    margin: 20px;
  }
}

.designersCon {
  display: flex;
  justify-content: center;
  // background: pink;
  flex: 1;
}

.designerIndividual {
  display: flex;
  flex-direction: column;
  // flex: 0 0 300px;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.designerYuliia {
  padding: 40px;
  border-radius: 40px;
  background: url("../images/feature/mobile_yuliia_photo.jpg") no-repeat center;
  margin-bottom: 20px;
}

.designerLan {
  padding: 40px;
  border-radius: 40px;
  background: url("../images/feature/mobile_lan_photo.jpg") no-repeat center;
  margin-bottom: 20px;
}

.tagsCon{
  display: flex;
  // background: gold;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tag {
  padding: 10px 30px;
  border: 1px solid white;
  border-radius: 30px;
  margin: 10px;
}

.shareCon {
  display: flex;
  justify-content: center;
  // background: orange;
  img {
    height: 40px;
    width: 40px;
    margin: 20px;
  }
}

.btnCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  // background: gold;
  max-height: 60px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  border-color: white;
  border-radius: 10px;
  padding: 20px 40px;
  max-width: 300px;
  align-self: center;
  min-width: 100px;
}

h3 {
  font-size: $h3_fontSize;
  padding: 60px 0 20px 0;
}

p {
  text-align: justify;
  font-size: 20px;
}

header {
  padding: 20px;
  height: 100vh;
}

.container {
  padding: 0px 20px;
}

.logo {
  width: 15vw;
  height: 15vw;
  margin: 20px 0;
}

.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  h3 {
    font-size: 10vw;
    margin: 60px 0 20px 0;
    text-align: left;
  }

  p {
    font-size: 4vw;
    margin: 0;
    margin-bottom: 20px;
    text-align: left;
  }

  .workWithUs {
    width: 100px;
    margin: 0;
  }

  .scroll {
    display: none;
    position: absolute;
  }
}

p {
  text-align: left;
}

.feature {
  display: flex;
  justify-content: flex-start;
  p {
    font-size: 25px;
  }

  .scroll {
    display: block;
    bottom: 40px;
  }
}

.introduction {
  p {
    margin-bottom: 40px;
  }
}

.challenges {
  padding: 20px 0;
  h3 {
    margin: 20px;
    font-size: 30px;
  }
  p {
    // margin: 40px;
    font-size: 20px;
  }

  // .button {
  //   margin: 20px auto;
  // }
}

.wrapper-1 {
  display: flex;
  flex-wrap: wrap;
  // background: tomato;
  justify-content: center;
  margin-bottom: 40px;

  img {
    max-width: 200px;
    height: auto;
    align-self: center;
    justify-self: center;
    flex: 1;
    margin-bottom: 30px;
  }
}

.wrapper-2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  // background: gold;
  margin-bottom: 40px;

  img {
    height: auto;
    align-self: center;
    width: 400px;
    margin-bottom: 30px;
  }
}

footer {
  background: #232323;
}

// TABLET VERSION
@media screen and (min-width: 768px) {
  body {
    background: url(../images/feature/bckgrd_descktop_feature_page.jpg);
    background-size: contain;
  }

  header {
    padding: 0px 80px;
  }

  .hero {
    h3 {
      font-size: 5vw;
    }
  }

  .container {
    padding: 0px 80px;
  }

  .wrapper-1 {
    justify-content: center;
    img {
      width: 20%;
      object-fit: contain;
    }
    p {
      width: 50%;
    }
  }

  .wrapper-2 {
    justify-content: center;
    flex-direction: row-reverse;
      p {
        width: 30%;
        margin: 20px 0;
      }
  }

.portfolioInfoCon {
  margin: 50px 0px 40px 0px;
}

.designerYuliia {
  padding: 65px;
  border-radius: 65px;
  background: url("../images/feature/desktop_yuliia_photo.jpg") no-repeat center;
  margin-bottom: 20px;
}

.designerLan {
  padding: 65px;
  border-radius: 65px;
  background: url("../images/feature/desktop_lan_photo.jpg") no-repeat center;
  margin-bottom: 20px;
}

}

// DESKTOP VERSION
@media screen and (min-width: 1024px) {
  body {
    background: url(../images/feature/bckgrd_descktop_feature_page.jpg);
    background-size: cover;
  }

  header {
    padding: 0px 80px;
  }
}
