@import "modules/navbar";
@import "vars";

body {
  background: url(../images/feature/bckgrd_mobile_feature_page.jpg);
  background-size: cover;
}

.overflow {
  overflow: hidden;
}

.hidden {
  display: none;
}

h3 {
  font-size: $h3_fontSize;
  padding: 60px 0 20px 0;
}

p {
  margin: 20px;
  text-align: justify;
  font-size: 20px;
}

header {
  height: 100vh;
}
.logo {
  width: 15vw;
  height: 15vw;
  margin: 20px 0;
}

.button {
  padding: 10px 30px;
  border: solid;
  border-color: white;
  border-radius: 10px;
  width: 30vw;
  text-align: center;
  margin: auto;
}

.hero {
  margin: 20px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  h3 {
    font-size: 10vw;
    margin: 60px 0 20px 0;
    text-align: left;
  }

  p {
    font-size: 4vw;
    margin: 0;
    margin-bottom: 20px;
    text-align: left;
  }

  .workWithUs {
    width: 100px;
    margin: 0;
  }

  .scroll {
    display: none;
    position: absolute;
  }
}

p {
  text-align: left;
}

.feature {
  justify-content: flex-start;
  p {
    font-size: 25px;
  }

  .scroll {
    display: block;
    bottom: 40px;
  }
}

.challenges {
  padding: 20px 0;
  h3 {
    margin: 20px;
    font-size: 30px;
  }
  p {
    margin: 40px;
    font-size: 20px;
  }

  .button {
    margin: 20px auto;
  }
}

.wrapper-1 {
  flex-wrap: wrap;

  img {
    width: 200px;
  }
}

.wrapper-2 {
  img {
    width: 300px;
  }
}

footer {
  background: #232323;
}

@import "modules/footer";

@media screen and (min-width: 768px) {
  body {
    background: url(../images/feature/bckgrd_descktop_feature_page.jpg);
    background-size: contain;
  }
  .wrapper-1 {
    display: flex;
    justify-content: center;
    img {
      width: 20%;
      object-fit: contain;
    }
    p {
      width: 50%;
    }
  }

  .wrapper-2 {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    img {
      width: 50%;
      object-fit: contain;
    }
    p {
      width: 30%;
      margin: 20px 0;
    }
  }
}

@media screen and (min-width: 1024px) {
  body {
    background: url(../images/feature/bckgrd_descktop_feature_page.jpg);
    background-size: cover;
  }
}
