@import "modules/navbar";
@import "vars";

body {
  background: url(../images/bckgrd_Mobile.jpg);
  background-size: cover;
}

.hidden {
  display: none;
}

h3 {
  font-size: $h3_fontSize;
  padding: 60px 0 20px 0;
}

p {
  margin: 20px;
  text-align: justify;
  font-size: 20px;
}



header {
  height: 100vh;
}
.logo {
  width: 15vw;
  height: 15vw;
  margin: 20px 0;
}

.button {
  padding: 10px 30px;
  border: solid 1px;
  border-color: white;
  border-radius: 10px;
  width: 30vw;
  text-align: center;
  margin: auto;
}

.hero {
  margin: 20px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

h3 {
  font-size: 5vw;
   margin: 60px 0 20px 0;
   text-align: left;
  
 }
   p {
    font-size: 10vw;
    margin: 0;
    margin-bottom: 20px;
    text-align: left;
  }
  

  .workWithUs {
    width: 100px;
    margin: 0;
  }

  .scroll {
    display: none;
    position: absolute;
  }
}

.social {
  margin: 20px 0;
  display: flex;

  img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    opacity: 0.8;
  }
}

.video {
  width: 100%;
  background: #232323;

  video {
    width: 100%;
  }
}

@import "modules/video_controls.scss";

.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .member {
    margin: 40px 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .potrait {
      height: $square_size_mobile;
      width: $square_size_mobile;
      object-fit: cover;
      border: solid 1px;
      border-radius: 20px;
    }

    p {
      text-align: center;
    }

    .member-name {
      position: absolute;
      display: flex;
      justify-content: center;
      display: none;
    }
  }

  .member-social {
    margin: 20px 0px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .member-social img {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    opacity: 0.8;
  }

  .member-social img:hover {
    opacity: 1;
    transition: 0.5s;
  }
  .member:hover .potrait {
    opacity: 0.5;
  }

  .member:hover .member-name {
    display: block;
  }
}

.bio-wrapper {
  display: none;
  flex-direction: column;
  width: 90vw;
  height: 700px;
  position: absolute;
  z-index: 1;
  background: black;

  img {
    width: 100%;
    object-fit: cover;
  }

  .info {
    position: absolute;
    bottom: 0;

    h4 {
      font-size: 8vw;
    }

    p {
      font-size: 15px;
    }
  }

  span {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 40px;
    z-index: 1;
    cursor: pointer;
  }

  .member-social {
    justify-content: center;
    position: static;

    img {
      margin: 10px;
    }
  }
}

.portfolio {
  .projects {
    display: flex;
    flex-wrap: wrap;
  }

  .project {
    height: 50vw;
    width: 100%;
    background: blue;
  }

  .project:nth-child(1) {
    background: green;
  }

  .seeMore {
    margin-top: 20px;
  }
}

.contact {
  h4 {
    margin: 20px;
  }
  .underline {
    text-decoration: underline;
  }
}

.contactForm {
 ::placeholder
 {
   font-size: 18px;
   opacity: 0.5;
   padding: 10px 20px;
 }
  input,
  textarea {
    margin: 20px;
    width: 50%;
    height: 50px;
    border:solid 1px white;
    border-radius: 10px;
    background-color: transparent;
    color:$text-color;
    font-size: 18px;
    padding-left: 10px;
    outline: none;
  
    
  }

  textarea {
   height: 200px;
  padding: 5px 20px;
  border: solid 1px;
  border-color: white;
  border-radius: 10px;
  width: 30vw;
  margin: auto;
  
  }
  #Message
  {
margin-bottom: 20px;
  }
 input:active {
    outline: none;
    
}
}

.submission {
  display: none;
  // background: blue;
  width: 80%;
  margin: 0 auto;
  padding: 40px;

  .thankYou {
    background: black;
    width: 100px;
    height: 100px;
    margin: 20px auto;
  }

  .social {
    justify-content: center;
  }
}

@import "modules/footer";

@media screen and (min-width: 768px) {
  body {
    background: url(../images/bckgrd_Tablet.jpg);
    background-size: cover;
  }

  .hero {
    justify-content: center;

    h3 {
      margin: 0;
    }
  }

  .button {
    width: 20vw;
  }
 
  .ourTeam {
    .member {
      .potrait {
        width: $square_size_tablet;
        height: $square_size_tablet;
      }
    }
  }

  .bio-wrapper {
    width: 70vw;
    height: 100%;

    img {
      height: 100%;
    }
  }
}

@media screen and (min-width: 1024px) {
  body {
    background: url(../images/background.jpg);
    background-size: cover;
  }

  header {
    padding: 0 80px;
  }

  .logo {
    width: 10vw;
    height: 10vw;
  }

  .hero {
    justify-content: space-evenly;

    p {
      font-size: 3vw;
    }

    .workWithUs {
      width: 15vw;
      padding: 20px;
      font-size: 2vw;
      position: relative;
      bottom: 60px;
    }

    .scroll {
      display: flex;
      position: absolute;
      bottom: 0;
      margin: 20px;
      font-size: 20px;
    }

    .social {
      position: absolute;
      right: 80px;
      bottom: 0;
    }
  }

  .aboutUs {
    .wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      .description {
        width: 40%;
        padding: 20px;

        h4 {
          font-size: 30px;
        }
      }
    }
    .video {
      width: 50%;
    }
  }

  .ourTeam {
    .member {
      .potrait {
        width: $square_size_desktop;
        height: $square_size_desktop;
      }
    }
  }
  .portfolio {
    .project {
      width: 50%;
      height: 30vw;
    }
  }

  .bio-wrapper {
    width: 50vw;
    height: 90vw;

    .info p {
      font-size: 20px;
    }
  }
}
