@import "modules/navbar";
@import "vars";

.hidden {
  display: none;
}

h3 {
  font-size: $h3_fontSize;
  margin: 60px 0 20px 0;
}

p {
  margin: 20px;
  text-align: justify;
  font-size: 20px;
}

body {
  background: #464646;
}

header {
  background: green;
  height: 100vh;
}
.logo {
  width: 15vw;
  height: 15vw;
  background: black;
  margin: 20px 0;
}

.button {
  padding: 10px 30px;
  border: solid;
  border-color: white;
  border-radius: 10px;
}

.hero {
  margin: 20px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  h3 {
    font-size: 10vw;
    margin: 60px 0 20px 0;
    text-align: left;
  }

  p {
    font-size: 4vw;
    margin: 0;
    margin-bottom: 20px;
    text-align: left;
  }

  .workWithUs {
    width: 100px;
  }

  .scroll {
    display: none;
  }
}

.social {
  margin: 20px 0;
  display: flex;

  div {
    background: black;
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}

.video {
  width: 100%;
  height: 200px;
  background: #232323;
}

.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .member {
    background: red;
    margin: 40px 20px;

    .potrait {
      height: $square_size_mobile;
      width: $square_size_mobile;
      background: blue;
    }

    p {
      text-align: center;
    }

    .social div {
      margin: 0 auto;
      background: black;
      width: 40px;
      height: 40px;
    }
  }
}

.portfolio {
  .projects {
    display: flex;
    flex-wrap: wrap;
  }

  .project {
    height: 50vw;
    width: 100%;
    background: blue;
  }

  .project:nth-child(1) {
    background: green;
  }

  .seeMore {
    text-align: center;
    width: 30vw;
    margin: auto;
    margin-top: 20px;
  }
}

.contact {
  h4 {
    margin: 20px;
  }
  .underline {
    text-decoration: underline;
  }
}

.contactForm {
  input,
  textarea {
    margin: 20px;
    width: 80%;
    height: 50px;
  }

  textarea {
    height: 200px;
  }

  .send {
    width: 30vw;
    margin: auto;
  }
}

@import "modules/footer";

@media screen and (min-width: 768px) {
  .hero {
    justify-content: center;

    h3 {
      margin: 0;
    }
  }
  .portfolio {
    .seeMore {
      width: 20vw;
    }
  }
  .ourTeam {
    .member {
      .potrait {
        width: $square_size_tablet;
        height: $square_size_tablet;
      }
    }
  }

  .contact {
    .send {
      width: 20vw;
    }
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 0 80px;
  }

  .logo {
    width: 10vw;
    height: 10vw;
  }

  .hero {
    justify-content: space-evenly;

    p {
      font-size: 3vw;
    }

    .workWithUs {
      width: 15vw;
      padding: 20px;
      font-size: 2vw;
      position: relative;
      bottom: 60px;
    }

    .scroll {
      display: flex;
      position: absolute;
      bottom: 0;
      margin: 20px;
      font-size: 20px;
    }

    .social {
      position: absolute;
      right: 80px;
      bottom: 0;
    }
  }

  .aboutUs {
    .wrapper {
      display: flex;
      align-items: center;

      .description {
        width: 40%;
        padding: 20px;

        h4 {
          font-size: 30px;
        }
      }
    }
    .video {
      width: 60%;
      height: 400px;
    }
  }

  .ourTeam {
    .member {
      .potrait {
        width: $square_size_desktop;
        height: $square_size_desktop;
      }
    }
  }
  .portfolio {
    .project {
      width: 50%;
      height: 30vw;
    }
  }
}
